<table id="orders_table" class="table">
<thead><tr><td><h3>Order</h3></td><td><h3>Quantity</h3></td></tr></thead>
</table>

<form  action="/lucky" method="POST">
	<div>
		<input type="hidden" name="order[orderlist]" id="orderdata" >
	</div>

  <div class="form-group">
    <label id="test-id-2">Name</label>                                                                <!-- id -->
    <input name="order[name]" type="text" class="form-control" placeholder="type your name" value="<%= @name %>">
  </div>

  <div class="form-group">
    <label>Number</label>
    <input name="order[phone]" type="text" class="form-control test-class-1" placeholder="cell number" value="<%= @number %>">    <!-- class -->
  </div>
   
  <div class="form-group">
    <label>Adress</label>
    <input name="order[adress]" type="text" class="form-control" placeholder="enter date" value="<%= @adress %>">
  </div>

  <div>
   <input type="submit" value = "order" class="btn btn-primary" onclick="orders_clear()" />
  </div>
</form>

<script type="text/javascript">
$(function()
{
	orders_output_database();
	table_orders_insert();
});
</script>